---
title: Axway AMPLIFY APIM Service Broker for Pivotal Platform (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

**If this product is in beta, keep and edit the warning note below.**
<p class="note warning">
<strong>Warning: </strong>
The Axway AMPLIFY APIM Service Broker for Pivotal Platform tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a Pivotal Platform production environment.
</p>

**This topic begins with a brief description of what the product tile (e.g. Axway AMPLIFY APIM Service Broker for Pivotal Platform) does, whereas the Overview section below describes what the service itself (e.g. Axway APIM) does. See below for an example.**

This documentation describes the Axway AMPLIFY APIM Service Broker for Pivotal Platform. It enables developers to manage APIs for their Pivotal Platform applications through the API Manager console.

**Note**: This description appears under **OVERVIEW** in the tile's listing on
[Pivotal Network](http://network.pivotal.io).

## <a id='overview'></a>Overview

The Axway AMPLIFY APIM Service Broker for Pivotal Platform registers a service broker with Pivotal Platform and exposes its service plans on the Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI) and bind them to their apps.

Creating an Axway AMPLIFY APIM Service Broker for Pivotal Platform service instance and binding it to a Pivotal Platform application creates an API Manager front end API that handles requests for the application. This lets developers use the API Manager UI to manage API security, polices enforcement and provide access control to consumers for Pivotal Platform application.


**Note**: This overview appears under **OVERVIEW**, combined with the description above in the tile's listing on
[Pivotal Network](http://network.pivotal.io).

## <a id='features'></a>Key Features

Axway AMPLIFY APIM Service Broker includes the following key features:

* Robust API Security
* A single-entry point to access Pivotal Platform applications
* Policy enforcement
* Unified API catalog
* API rate limiting
* Message mediation
* Authorization based on keys or scopes
* API Analytics


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.1.8</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 1, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Axway APIM v7.6.2 and v7.7</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.4.x, 2.5.x, 2.6x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.4.x, 2.5.x, 2.6x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Axway AMPLIFY APIM Service Broker has the following requirements:

+ Install  Axway AMPLIFY API Management.
+ Configure polices for Pivotal Platform.

## <a id='prereqs'></a> Prerequisites

* API Administrator account to configure Service broker.
* A Pivotal Platform Elastic Runtime deployment with Route Services enabled.
* Access to Cloud Controller REST APIs.


## <a id="limitations"></a>Limitations

**List any known limitations.**

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) or send an email to [Axway Support](mailto:support@axway.com).

## <a id='license'></a>License

For license request, please send an email to [Axway Support](mailto:support@axway.com).
