---
title: Installing and Configuring Axway AMPLIFY APIM Service Broker
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure Axway AMPLIFY APIM Service Broker.

##<a id='install'></a> Install and Configure Axway AMPLIFY APIM Service Broker

To install the Axway AMPLIFY APIM Service Broker file on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under **Import a Product**, click **+** next to the version number of Axway AMPLIFY APIM Service Broker. This adds the tile to your staging area.

1. Click the newly added **Axway AMPLIFY APIM Service Broker** tile.

1. Under **Settings**, click **Service Broker Parameters** and enter the values.
![Axway AMPLIFY APIM for Pivotal Platform configuration](images/settings_param.png)

1. Description of Service Broker parameters

    | Parameter Name | Description |
| -------------- | ----------- |
| **Axway API Manager URL** | API Manager UI URL|
| **Axway API Manager Traffic URL** | API Manager Traffic URL, it should be a Load Balancer URL |
| **Axway API Manager Username** | API Manager user name, the user should have APIAdministrator role |
| **Axway API Manager Password** | API Manager password |

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard, click **REVIEW PENDING CHANGES**.

1. Select Axway AMPLIFY APIM Service Broker and click **APPLY CHANGES**  to install Axway AMPLIFY APIM Service Broker tile.

##<a id='policystudio'></a> Configure routing polices through Axway Policystudio

1. Clone [Axway APIM Service Broker project](https://github.com/Axway-API-Management-Plus/apim-service-broker)

1. Import Policy Studio Project (located under src/main/resources/apiproject)  using the option Open Project.

1. Deploy this project to your instance of Axway API Gateway. You may also export the Forward Request to API Manger Traffic Port policy from the project and import it in your API Gateway configuration. In addition, you will need to configure Gateway Listeners similar to how it is done in the provided project: port 8065 is mapped to the PCF listener, port 7070 is mapped to the API Manager Traffic listener.
