---
title: Release Notes for Axway AMPLIFY APIM Service Broker
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for Axway AMPLIFY APIM Service Broker.

##<a id="ver"></a> v1.1.8

**Release Date:** October 25, 2019

Features included in this release:

* Added version API to retrieve the current version of the service broker. API Endpoint - http://hostname:8080/version.

Fixed issues in this release:

* Cannot create new ServiceInstance (i.e. error creating Org+User)
