---
title: Release Notes for Axway AMPLIFY APIM Service Broker
owner: Partners
---

<strong><%= modified_date %></strong>

**This topic should include the Release Notes for your product. For examples, see the [GCP Service Broker Release Notes](http://docs.pivotal.io/gcp-sb/release-notes.html) or the 
[ISS Knowtify Search Analytics Release Notes](http://docs.pivotal.io/knowtify/release.html).
When you release a new version, add new release notes to this file, keeping the older notes below.**

These are release notes for Axway AMPLIFY APIM Service Broker.

##<a id="ver"></a> v1.1.8

**Release Date:** RELEASE-DATE (Ex. September 11, 2019)

Features included in this release:

* Added version API to retrieve the current version of the service broker. API Endpoint - http://hostname:8080/version.

Fixed issues in this release:

* Cannot create new ServiceInstance (i.e. error creating Org+User)
