---
title: Using Axway AMPLIFY APIM Service Broker to Proxy VMware Tanzu Apps
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to use Axway AMPLIFY APIM Service Broker to proxy VMware Tanzu apps. Developers can extend the value of VMware Tanzu by integrating the apps and services running on VMware Tanzu through Axway AMPLIFY™ API Management. The integration is implemented as a VMware Tanzu Service Broker. With this approach, customers can connect to an existing Axway API Management solution, or they can deploy Axway API Manager on their choice of infrastructure (on-premise or cloud) and integrate it with VMware Tanzu.
</br></br>
A high level architecture that is based on the [VMware Tanzu Fully-Brokered Service pattern](https://docs.pivotal.io/platform/application-service/2-7/services/route-services.html#fully-brokered) is shown on the following diagram
</br></br>
![Axway APIM Service Broker](./images/0.png)
</br></br>
The benefits of using the service broker pattern are described in the [overview section](./index.html).
</br></br>
Before you can proxy an app, you need to [download/install](./index.html) and [configure](./installing.html) Axway AMPLIFY APIM Service Broker. When you're done, the Axway AMPLIFY APIM Service Broker will be available on Marketplace of Pivotal Apps Manager as show below
</br></br>
![Marketplace](./images/1.png)
</br></br>
##<a id='create instance'></a> Creating an instance of Axway AMPLIFY APIM Service Broker

To create an instance of Axway AMPLIFY APIM Service Broker, perform the following steps:

1. Click **Axway AMPLIFY APIM** in your VMware Tanzu Marketplace.

1. Select one of the available plans and click the **SELECT THIS PLAN** button.</br></br>
![Selecting a plan](./images/2.png)

1. Give a unique name to your instance and select a space where this instance will be created, and click the **CREATE** button.</br></br>
![Creating an instance](./images/3.png)
Note: Don't select any app or route to bind in this step. You must do it later.

##<a id='binding a route'></a> Binding a route to your app

When your instance is created, you need to bind a route to your app(s):

1. Click the name of your Service Broker instance.</br></br>
![Selecting an instance](./images/4.png)

1. Click the **BIND ROUTE** button.</br></br>
![Bind a route](./images/5.png)

1. Select the **Select a route to bind** radio button and pick your app in the drop down list.</br></br>
![Configure your route binding](./images/6.png)

1. Open the **ADVANCED OPTIONS** section and provide additional parameters. For example,

     ```bash
       {
        "apiname": "pcfgreeting",
        "type": "swagger",
        "uri": "/api/v3/swagger.json"
       }
     ```

      The parameter *apiName* is optional. If apiName is not specified, Service broker fetch the API Name from swagger or WSDL. Possible values of *type* parameters are *wsdl* and *swagger* The URI value will be context name or Fully qualified Swagger / WSDL URL, for example - greeting-app-timely-llama.apps.cf-app.com**/api/v3/swagger.json**. If context name is provided as input, the service broker reads the host name from Cloud Foundry Application.

1. Click the **BIND** button. You should see a new route bound under your Service Broker instance.</br></br>
![Bound route](./images/7.png)

1. Now you should see a new API registered in your Axway AMPLIFY API Manager.</br></br>
![Created API](./images/8.png)</br></br>
   You can further configure this API (security, throttling, etc.) per your requirements.

##<a id='unbinding a route'></a> Unbinding a route to your app

To unbind a route to a VMware Tanzu app:

1. Unpublish an associated API in Axway AMPLIFY API Manager.

1. Navigate to the **Services** section of Pivotal Apps Manager and click the name of your Service Broker instance.

1. Click the **x** button next to your bound route.
![Bound route](./images/11.png)

1. Click **UNBIND** in a pop-up window.
![Bound route](./images/10.png)
